{% extends "zoom/base.html" %}
{% load tz %}
{% load humanize %}
{% load zoom %}
{% load static %}

{% block title %}
    {% if meeting %}
        {{ meeting.topic }}
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block topleftnav %}
    <a class="btn btn-dark" href="{% url 'meetings' %}">Back to meetings list</a>
{% endblock %}
{% block toprightnav %}
    {% if meeting %}
        <a id="edit-nav" class="btn btn-warning" href="#">Edit this event</a>

        <div id="update-nav" class="nav-right hidden">
            <a id="reset-nav" class="btn btn-warning" href="#">Reset</a>
            <br/><br/>
            <form id="update-form" class="hidden" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" name="action" value="update">Update event</button>
                <br/><br/>
                <button type="submit" class="btn btn-info" name="action" value="create">Save as new event</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block header %}
    <div class="row padded">
        <table border=0>
            {% if response_code %}
                <tr>
                    <td>
                        <div id="error" class="border">
                            {% if response_code == 204 %}
                                <h6 class="text-success">Update successful! :)</h6>
                            {% else %}
                                {% if response_code == 300 %}
                                    <h6 class="text-danger">Rate limited (try again later)</h6>
                                {% elif response_code == 400 %}
                                    <h6 class="text-danger">Could not update meeting :(</h6>
                                {% elif response_code == 404 %}
                                    <h6 class="text-danger">Could not find meeting :(</h6>
                                {% endif %}

                                {% if error %}
                                    <table id="error-details">
                                        <thead>
                                            <tr>
                                                <th colspan=3><b>{{ error.result.message }}</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i>{{ error.result.errors.field }}</i></td>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td>{{ error.result.errors.message }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if meeting %}
                <tr>
                    <td>
                        <h1>
                            <span id="topic" class="edit" data-type="text" data-value="{{ meeting.topic }}">{{ meeting.topic }}</span>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="agenda" class="edit" data-type="textarea" data-value="{{ meeting.agenda }}">{{ meeting.agenda|linebreaksbr }}</span>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="row">
            <div class="col-9">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if meeting %}
        <div class="row padded">
            <div class="col-2">
                <a class="btn btn-primary" id="start_button" href="{% url 'start' meeting_id=meeting.id encoded_url=meeting.start_url|urlencode:"" %}">Start meeting</a>
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <table>
                    <tr>
                        <td>
                            {% if meeting.start_time %}
                                {% with start_time=meeting.start_time|zoom_date %}
                                    <span id="start_time-date" class="edit" data-type="date" data-transform="datetime" data-transform-target="start_time-time" data-name="start_time" data-value="{{ start_time|localtime|date:"Y-m-d" }}">{{ start_time|localtime|date }}</span>
                                    from
                                    <span id="start_time-time" class="edit" data-type="time" data-transform="datetime" data-transform-target="start_time-date" data-name="start_time" data-value="{{ start_time|localtime|time:"H:i" }}">{{ start_time|localtime|time }}</span>
                                    {% if meeting.duration %}
                                        {# end_time = start_time + minutes(duration) #}
                                        to <span id="end_time" class="edit" data-type="time" data-transform="duration" data-transform-date="start_time-date" data-transform-time="start_time-time" data-name="duration" data-value="{{ start_time|add_minutes:meeting.duration|localtime|time:"H:i" }}">{{ start_time|add_minutes:meeting.duration|localtime|time }}</span>
                                    {% endif %}
                                    {# hidden field to record local timezone #}
                                    {% get_current_timezone as TIME_ZONE %}
                                    <span id="timezone" class="edit hidden" data-type="text" data-value="{{ TIME_ZONE }}"></span>
                                    {# also show the short time zone name #}
                                    {% now "T" %}
                                {% endwith %}
                            {% endif %}
                            {% if meeting.recurrence %}
                                <br/>
                                Repeats every
                                    {# translate recurrence spec to English #}
                                    {% with r=meeting.recurrence %}
                                        {% if r.type == 1 %}
                                            {% if r.repeat_interval == 1 %}
                                                day
                                            {% else %}
                                                {{ r.repeat_interval}} days
                                            {% endif %}
                                        {% elif r.type == 2 %}
                                            {% if r.repeat_interval == 1 %}
                                                week
                                            {% else %}
                                                {{ r.repeat_interval}} weeks
                                            {% endif %}
                                            on
                                            {% for d in r.weekly_days|split:',' %}
                                                {% if d == '1' %}Sun{% elif d == '2' %}Mon{% elif d == '3' %}Tue{% elif d == '4' %}Wed{% elif d == '5' %}Thu{% elif d == '6' %}Fri{% elif d == '7' %}Sat{% endif %}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if r.repeat_interval == 1 %}
                                                month
                                            {% else %}
                                                {{ r.repeat_interval}} months
                                            {% endif %}
                                            {% if r.monthly_day %}
                                                {% with d=r.monthly_day %}
                                                    on the {{ d|ordinal }}
                                                {% endwith %}
                                            {% elif r.monthly_week %}
                                                {% with w=r.monthly_week d=r.monthly_week_day %}
                                                    on the {% if w == -1 %}last{% else %}{{ w|ordinal }}{% endif %}
                                                    {% if d == 1 %}Sun{% elif d == 2 %}Mon{% elif d == 3 %}Tue{% elif d == 4 %}Wed{% elif d == 5 %}Thu{% elif d == 6 %}Fri{% elif d == 7 %}Sat{% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endif %}
                                        {% if r.end_times %}
                                            {{ r.end_times }} times
                                        {% elif r.end_date_time %}
                                            until {{ r.end_date_time|zoom_date|localtime|date }}
                                        {% endif %}
                                    {% endwith %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Link to join: <a href="{{ meeting.join_url }}">{{ meeting.join_url }}</a>
                            {% if meeting.password %}
                                (password: <span id="password" class="edit" data-type="text" data-value="{{ meeting.password }}">{{ meeting.password }}</span>)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row padded">
            {% if registrants is not None %}
                {% if registrants %}
                    <table class="table" id="registrants">
                        <thead>
                            <tr>
                                <th colspan="10">
                                    {% if participants %}
                                        {{ registrants|length }} registrant{{ registrants|length|pluralize }}, {{ participants|length }} attendee{{ participants|length|pluralize }}:
                                    {% else %}
                                        {{ registrants|length }} registrant{{ registrants|length|pluralize:"s sorted by last name" }}:
                                    {% endif %}

                                    (<a href="mailto:{% for registrant in registrants %}{{ registrant.email }}{% if not forloop.last %},{% endif %}{% endfor %}">email all registrants</a>)
                                </th>
                            </tr>
                            <tr class="title-row">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Location
                                </th>
                                {% for question in registrants.0.answers %}
                                    <th>
                                        <font size="-2">
                                            {% if "Complete the phrase" in question.title %}
                                                {{ question.title|slice:"21:-1" }}
                                            {% else %}
                                                {{ question.title }}
                                            {% endif %}
                                        </font>
                                    </th>
                                {% endfor %}
                                {% if participants %}
                                    <th>
                                        Attended
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for registrant in registrants %}
                                <tr>
                                    <td>
                                        {{ registrant.name }}
                                    </td>
                                    <td>
                                        <a href="mailto:{{ registrant.email }}">{{ registrant.email }}</a>
                                    </td>
                                    <td>
                                        {{ registrant.location }}
                                    </td>
                                    {% for answer in registrant.answers %}
                                        <td>
                                            {{ answer.value }}
                                        </td>
                                    {% endfor %}
                                    {% if participants %}
                                        <td>
                                            {% if registrant.email in participants %}
                                                {# found them in the attendee list #}
                                                {% with record=participants|lookup:registrant.email %}
                                                    {{ record.duration|floatformat:0 }} min
                                                {% endwith %}
                                            {% else %}
                                                {# either they didn't attend, started the meeting (possibly through this app), or the email didn't match #}
                                                {% for starter in starters %}
                                                    {# check the records of who started this meeting through this app #}
                                                    {% if starter.email == registrant.email or starter.first_name|add:" "|add:starter.last_name == registrant.name %}
                                                        {% comment %}
                                                            found a match (there can be multiple, which is why I'm not showing the time,
                                                            even though it's available in participants|lookup:"login@thursdaycontra.com",
                                                            because if there were multiple hosts the time would all be added together
                                                            (there's still potentially a way to disambiguate, by not aggregating the time
                                                             windows and then looking at the event timestamp to associate them)) #}
                                                         {% endcomment %}
                                                        Host
                                                        {# hide the No #}<style>#absent-{{registrant.id}} { display: none }</style>
                                                        {# we could break out of the loop now, if django supported such a thing... #}
                                                    {% endif %}
                                                {% endfor %}

                                                {# this will show up if we didn't find them as a host #}
                                                <a id="absent-{{registrant.id}}" href="#asterisk">No*</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if participants %}
                        <dl style="display: grid; grid-template-columns: max-content auto">
                            <dt style="grid-column-start: 1; min-width:1em"><a name="asterisk">*</a></dt>
                            <dd style="grid-column-start: 2">The data is somewhat messy. They may have attended but I just failed to match up the names, so don't use this to take attendance. Also, the meeting host is sometimes shown as not attending because they sign in with the organization's name.</dd>
                        </dl>
                    {% endif %}
                {% else %}
                    <div class="col-9">
                        No registrants yet
                    </div>
                {% endif %}
            {% else %}
                <div class="col-9">
                    Registration not required
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if request.GET.debug %}
        <textarea rows=100 cols=100>
            {% if meeting %}
                MEETING:
                {{ meeting|pprint }}
            {% endif %}

            {% if registrants %}
                REGISTRANTS:
                {{ registrants|pprint }}
            {% endif %}

            {% if participants %}
                PARTICIPANTS:
                {{ participants|pprint }}
            {% endif %}
        </textarea>
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .padded { padding-top: 2em; }

        .hidden {
            display: none;
        }

        .editable {
            border-bottom: 1px dotted;
        }

        #start-button {
            z-index: 50; /* behind the nav buttons */
        }

        /* title row stays visible when you scroll down */
        .title-row th {
            top: 4em;
            background: white;
            position: sticky;
        }

        #error {
            {% if response_code %}
                {% if response_code >= 300 %}
                    background-color: gold;
                    border-color: red !important;
                    border-radius: 0.5em;
                    margin-bottom: 1em;
                {% else %}
                    border: none !important;
                {% endif %}
                padding: 0.5em;
            {% endif %}
        }

        #error h6 {
            margin: auto;
        }

        #error-details {
            font-size: small;
        }

        #error-details tbody td {
            padding: 2em;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "zoom/editable.js" %}"></script>

    <script type="text/javascript">
        // Per the Zoom API docs, the `start_url` is only good for 2 hours after generation.
        // We check every minute instead of using a single setTimeout, because if you put the
        // computer to sleep then setTimeout pauses.
        var page_loaded_at = new Date();
        window.setInterval(function () {
            var now = new Date();
            if ((now - page_loaded_at) > (2*60*60*1000)) {
                var button = document.getElementById("start_button");
                button.classList.remove("btn-primary");
                button.classList.add("btn-secondary");
                button.onclick = function () {
                    alert("Magic link has expired after 2 hours. Reload to get a new one.");
                    return false;
                };
            }
        }, 60*1000);

        $(document).ready(function() {
            {% if response_code %}
                var params = new URLSearchParams(window.location.search);
                params.delete('response_code');
                params.delete('error');
                window.history.replaceState(null, null, '?' + params.toString());
            {% endif %}

            {% if not meeting.recurrence %}
                editable();
                $('#edit-nav').show();
            {% endif %}
        });
    </script>
{% endblock %}

