{% extends "zoom/base.html" %}
{% load tz %}
{% load zoom %}

{% block title %}Meetings{% endblock %}

{% block header %}
    <div class="row padded">
        <h1>Meetings</h1>
    </div>
{% endblock %}

{% block topleftnav %}
    {% if request.GET.type == 'scheduled' %}
        <a class="btn btn-dark" href="?type=upcoming">Hide past meetings</a>
    {% else %}
        <a class="btn btn-dark" href="?type=scheduled">Show past meetings</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="row">
            <div class="col-9">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row padded">
        <table class="table">
            <thead>
                <th colspan="2">
                    {% if request.GET.type == 'scheduled' %}
                        {{ meetings|length }} scheduled meetings:
                    {% else %}
                        {{ meetings|length }} upcoming meetings:
                    {% endif %}
                </th>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td>
                            {# For recurring meetings, Zoom returns the meeting multiple times in list, with different start times. However, when you retrieve the meeting by ID it returns all the occurrences. To get a specific start time we need to know the "occurrence ID", which is not given in the the meetings list but seems to be the start time as UNIX timestamp x1000. #}
                            <a href="meeting/{{meeting.id}}{%if meeting.type == 8 %}/{{meeting.start_time|zoom_date|date:'U'}}000{%endif%}">{{ meeting.topic }}</a>
                        </td>
                        <td>
                            {{ meeting.start_time|zoom_date|localtime }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if request.GET.debug %}
        <textarea rows=100 cols=100>{{ meetings|pprint }}</textarea>
    {% endif %}
{% endblock %}

{% block script %}
    <style>
        .padded { padding-top: 2em; }
    </style>
{% endblock %}

